*{
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: 100;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    border-radius: 0.3rem;
}
.logo{
    width: 75px;
    border-radius: 0.2rem;
}
.nav-items{
    display: flex;
    
}
.link-tags{
    margin-right: 20px;
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.Filter-Container{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    padding: 10px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
}
.restuarantCard{
    text-align: center;
    width: 215px;
    border: 1px solid #f0f0f0; 
    padding: 5px;
    margin-left: 20px ;
    margin-bottom: 20px ;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    text-decoration: none;

}
.restuarantCard:hover{
    cursor: pointer;
    border: 1px solid #f0f0f0; /* Optional: Add a border to the div */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hoverBack:hover{
    transition: 0.2s;
    transform: scale(1.005);
}
.resLink{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.resImg{
    width: 210px;
}
.filterRated:hover{
    cursor: pointer;
}
.shimmer-container{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin-top: 10px;
    margin-left: 20px;
    width: 215px;
    height: 400px;
    background-color: #f0f0f0;
}
.nav{
    margin-right: 50px;
}
.loginBtn{
    margin-left: 10px;
    padding: 10px;
    transform: translateY(-10px);
}
.loginBtn:hover{
    cursor: pointer;
}
.container-detailed{
    display: flex;
    align-items: center;
    justify-content: center;
}
.detailsContainer >h2{
    text-align: center;
}
.detailsContainer >h2{
    text-align: center;
}
.detailImg{
    width: 200px;
    display: block;
    margin: 0 auto;
}
.resName{
    font-size: 24px;
}
.cuis{
    font-size: 16px;
}